* {
	padding: 0;
	margin: 0;
	font-size: 70%;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-family: 'Roboto', sans-serif;
	background-color: #2BFF88;
	background-image: linear-gradient(45deg, #2BFF88 0%, #2BD2FF 52%, #2BFF88 90%);
 

	scroll-behavior: smooth;
}

h1 {font-size: 6rem;}

h2 {font-size: 3.2rem;}

h3 {font-size: 2.2rem;}

h4 {font-size: 1.8rem;}

h5 {font-size: 1.2rem;}

h6 {font-size: 1rem;}

p {font-size: 2rem;}

span {
	font-size: 2rem;
}
	
 
header, footer, .titulo {
	/* color de fondo con gradiente */
	background-image: url("../images/fondo.gif");
	background-repeat: repeat;
	background-position: -300px;
	color: white;
}

.titulo {
	padding: 0 0.5rem;
}

header {
	padding: 0.5rem 2rem;

	/* Ordenar */
	display: grid;

	/* Cuantas columnas */
	grid-template-columns: 0.25fr 1fr;

	/* Ubicas por fila */
	grid-template-areas:
		"perfil info"
	;

	/* centrado */
	text-align: center;

	height: calc(100vh);
	
}

#nom, #titulo, #fnac{
	text-shadow: 1px 1px 10px black, -1px -1px 10px black;
}

#nom{
	font-size: 10rem;
}
#titulo{
	font-size: 5rem;
}
#fnac{
	font-size: 3rem;
	
}


/* Dar nombre a los elementos del Grid */
#perfil {
	grid-area: perfil;
}

#perfil img {
	border-radius: 50%;
	width: 20rem;
	box-shadow: 1px 2px 10px #c9c3c3;
}

#info {
	grid-area: info;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
}

section {
	border: 2px solid grey;
	width: 95%;
	margin: 1rem 0;

	min-height: 100vh;
}

ul {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	list-style: none;
}

li {
	border: 1px solid black;
	margin: 1rem;
	background-color: rgba(245, 245, 245, 0.507);
	transition: all 500ms;
}

li:hover {
	box-shadow: 5px 5px 10px black, -1px -1px 5px gray;
}

footer {
	min-height: 35rem;

	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"titulo titulo"
		"info mapa"
	;

}

.btn_footer {
	font-size: 2.5rem;
	padding: 0 0.5rem;
}

#titulo_footer {
	grid-area: titulo;
	text-align: center;
	text-shadow: 1px 1px 10px black, -1px -1px 10px black;
	font-size: 5rem;
}

#infoContacto {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	padding: 2rem;

	grid-area: info;
}

#infoContacto p {
	width: 100%;
	height: min-content;
	text-align: right;
}

#mapa {
	grid-area: mapa;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sectionMapa{
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0;
	position:fixed;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.609);

	cursor: pointer;
}

.mapa{
	border: 2px red solid;
	width: 70%;
	height: 70%;
}

.academicos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;

}

.academicos article {
	border: 1px solid grey;
}

.otros_academicos {
	display: grid;
	grid-template-rows: auto 1fr;

	align-items: center;
}

.otros_academicos div {
	margin: 0 1rem;
	border: 1px solid black;
	background-color: rgba(245, 245, 245, 0.507);
	transition: all 500ms;
}

.otros_academicos div:hover {
	box-shadow: 5px 5px 10px black, -1px -1px 5px gray;
}

.habilidades {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
}

.habilidades div {
	border: 1px solid gray;
}

.experiencia {
	text-align: center;
}

.experiencia ul {
	align-items: center;
}

.experiencia li {
	min-width: min-content;
	width: 50%;
}
nav a {
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 18px;
	color: black;
}

.navBar i{
	color:aliceblue;
	font-size: 1.5rem;
	opacity: 1.5;
}

.navBar ul{
	
	background-color: black;
	opacity: 0.6;
	border-radius: 50px;
	
	margin: 0;
	padding: 0;
	width: 70vw;

	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.navBar ul:hover{
	opacity: 100;
}

.navBar a:hover{
	border: 1px white solid;
}

.navBar{
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 2%;
	left: 0;
	z-index: 1000;
	width: 100vw;
}
/*Estilos para tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	body {
	  font-size: 1.2rem;
	  line-height: 1.4;
	}
	#nom, #titulo, #fnac{
		margin-bottom: auto;
	}
	.navBar i{
		color:aliceblue;
		font-size:1rem;
		opacity: 1.5;
	}
	ul{
		height: auto;
	}
	
	
}
  
    /*Estilos para teléfonos móviles */
@media only screen and (max-width: 767px) { 
	body {
	  font-size: 0.6rem;
	  line-height: 1.2;
	   
	}
	#nom, #titulo, #fnac{
		margin-bottom: auto;
	}
	.navBar i{
		color:aliceblue;
		font-size: 0.7rem;
		opacity: 1.5;
	}
	ul{
		height: auto;
	}
	.sectionMapa{
		width:100%;
		height: 100%;
	} 
} 